{
	"lsf": {
		"queues": {
			"normal":[
				"100 256000",
				12
			],
			"long": [
				"100 256000",
				48
			],
			"basement": [
				"100 256000",
				720
			],
			"hugemem": [
				"0 745000",
				360
			],
			"teramem": [
				"0 3072000",
				360
			]
		},
		"errors":{
			"130": "MEM",
			"140": "RUNTIME"
		}
	},
	"slurm":{
	
	
	
	
	}

}
