{
	"LSF": {
		"queues": {
			"normal":[
				"100 256000",
				12
			],
			"long": [
				"100 256000",
				48
			],
			"basement": [
				"100 256000",
				720
			],
			"hugemem": [
				"256000 745000",
				360
			],
			"teramem": [
				"745000 3072000",
				360
			]
		},
		"errors":{
			"MEM": 130,
			"RUNTIME": 140
		}
	},
	"SLURM":{
		"queues": {

		},
		"errors":{
			"MEM": 130,
			"RUNTIME": 140
		}
	}
}
